/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar {
  color: #fff;
  a {
    color: inherit;
  }
}

.max-width-1200 {
  max-width: 1200px;
}
.notice-bar {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #27cc95;
  color: #000;
}

img {
  max-width: 100%;
}

.card-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.m-r-small {
  margin-bottom: 1em;
}

.space {
  margin: 1em 0;
}

.table {
  max-width: 1200px !important;
  table-layout: fixed;
}

.option-tag {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #eaeaea;
  font-size: 16px;
  cursor: pointer;

  &.price:before {
    content: "$";
  }
}
